<p style="margin-bottom: 15px;">
    Un fichier d'index HTML (<code style="font-family: monospace">{{ page }}</code>) a été correctement importé. 
</p>
<p>
    Les catégories ont été créées en fonction des titres du fichier ; en cas d'utilisation 
    simultanée de la fonction d'importation de XML par recherche sur le domaine, il faudra 
    configurer les chemins pour éviter de recréer des catégories supplémentaires. 
</p>