<p style="margin-bottom: 15px;">
    Des articles ont correctement été importés grâce aux XML du kit. 
</p>
<p style="margin-bottom: 15px;">
    Les catégories ont été assignées par les répertoires, ne pas hésiter à revérifier ces 
    associations automatiques (notamment si des catégories n'ont pas de chemin défini). 
</p> 
<p>
    <a href="{{ path("TC_IndexBundle_Item_list") }}">Éditer les articles</a>. 
</p> 