<p style="margin-bottom: 15px;">
    Des catégories ont correctement été importées à partir de l'arborescence du domaine. 
</p>
<p style="margin-bottom: 15px;">
    Pour le moment, les noms correspondent aux chemins trouvés, ne pas oublier de les adapter. 
</p> 
<p>
    <a href="{{ path("TC_IndexBundle_Category_list") }}">Éditer les catégories</a>. 
</p> 