{% extends_admingenerated "TCIndexBundle:CategoryList:index.html.twig" %}

{# block list_td_column_title %}{{ Category.getTitle(true) }}{% endblock #}

{% block list_tbody %}
{# Et on s'amuse ! Il faut réécrire ici toute la logique pour qu'on affiche correctement les catégories : d'abord les catégories de premier niveau, puis les catégories de niveau inférieur, etc., de manière récursive #}
<tbody>
    {% if Categorys|length > 0 %}
        {% include "TCIndexBundle:CategoryList:line.html.twig" with {'Categories': Categorys, 'depth': 0} %}
    {% else %}
    <tr class="list_trow no_results_row">
        <td colspan="5">{% trans from "Admingenerator" %}list.no_results{% endtrans %}</td>
    </tr>
    {% endif %}
</tbody>
{% endblock %}