{% extends "TCIndexBundle:Default:_main.html.twig" %}

{% block title %}Vidage des caches{% endblock %}

{% block body %}
<h1>Vidage des caches</h1>
<div style="font-size: 13px; line-height: 2.0;">
    <p>
        Tous les caches ont été vidés. 
    </p> 
</div>
{% endblock %}