{{ 1|gab_up }}
<p>
    Un fichier d'index (<code>{{ page }}</code>) a été correctement importé. 
</p>
<p>
    Les catégories ont été créées en fonction des titres du fichier ; en cas d'utilisation 
    simultanée de la fonction d'importation de XML par recherche sur le domaine, il faudra 
    configurer les chemins pour éviter de recréer des catégories supplémentaires. 
</p>
{{ 1|gab_down }}