{% extends "TCIndexBundle:Default:_main.html.twig" %}

{% block title %}Importation d'index{% endblock %}

{% block body %}
<h1>Importation d'index</h1>
<p style="font-size: 13px; line-height: 2.0;">
    Quelle importation souhaitez-vous lancer ? 
</p>
<ul style="font-size: 13px; list-style-type: square; margin-left:50px;">
    <li style="margin-bottom: 10px;">
        <form action="{{ path("tc_index_importer_htmlfileimport") }}" method="get">
            Importer un fichier HTML (chemin relativement à la racine du domaine ; importation des 
            articles et des catégories) : <input type="text" name="page"/>. 
            <input type="submit" value="Importer" /> <br/>
            Attention ! Importer plusieurs fois un même fichier créera une série de catégories 
            vides. Les sections créées ne disposent pas d'un chemin : utiliser un autre importeur 
            automatique créera à nouveau des sections, potentiellement redondantes, tant qu'elles 
            n'auront pas été manuellement associées. 
        </form>
    </li>
    <li style="margin-bottom: 10px;">
        <a href="{{ path("tc_index_importer_xmlcategoriesimport") }}">Importer les catégories à 
            partir de l'arborescence, la racine étant <code>tutoriels</code> relativement à la 
            racine du domaine</a>. 
    </li>
    <li style="margin-bottom: 10px;">
        <a href="{{ path("tc_index_importer_xmlarticlesimport") }}">Importer les articles à partir 
            de l'arborescence, la racine étant <code>tutoriels</code> relativement à la racine du 
            domaine</a>. <br/>
            Il est nécessaire d'avoir importé les catégories auparavant (que ce soit en fonction de 
            l'arborescence ou d'un autre fichier, mais il faut que les chemins aient été définis) : 
            en effet, les assignations aux catégories se font en fonction des chemins. Les articles 
            mis à jour verront leurs enregistrements possiblement modifiés. 
    </li>
</ul>
{% endblock %}