{% extends "TCIndexBundle:Default:_main.html.twig" %}

{% block title %}Installation de l'application{% endblock %}

{% block body %}
<p>
    L'application a été installée avec succès. Les différentes options sont disponibles dans le menu ci-dessus. 
</p> 
{% endblock %}