{{ 1|gab_up }}
<p>
    Des articles ont correctement été importés grâce aux XML du kit. 
</p>
<p>
    Les catégories ont été assignées par les répertoires, ne pas hésiter à revérifier ces associations automatiques. 
</p> 
{{ 1|gab_down }}