{% extends "TCIndexBundle:Default:_main.html.twig" %}

{% block title %}Importation d'arborescence{% endblock %}

{% block body %}
<h1>Importation d'arborescence</h1>
<div style="font-size: 13px">
    <p>
        Des catégories ont correctement été importées à partir de l'arborescence du domaine. 
    </p>
    <p>
        Pour le moment, les noms correspondent aux chemins trouvés, ne pas oublier de les adapter. 
    </p> 
</div>
{% endblock %}