{{ 1|gab_up }}
<p>
    Des catégories ont correctement été importées à partir de l'arborescence du domaine. 
</p>
<p>
    Pour le moment, les noms correspondent aux chemins trouvés, ne pas oublier de les adapter. 
</p> 
{{ 1|gab_down }}